name: Deploy Tourism to S3

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::950698186482:role/GitHubManasaTourismRole
          aws-region: eu-north-1

      - name: Sync Files
        run: 
          aws s3 cp index.html s3://manasa-tourism/index.html
